<h2>Área para miembros</h2>

<p>
    Bienvenido <b>{{nombre}}</b>, 
    esta página es exclusiva para usuarios registrados.

</p>
<br>

<p>
    Usted tiene arrendados <b>{{autos_arredandos}}</b> autos, 
    Hay una flota de un total de <b>{{flota}}</b> autos.

</p>
 <ul>
  <li>
    <label for="name">Cantidad de puertas:</label>
    <input type="text" id="cantidad_puertas" name="cantidad_puertas">
  </li>
  <li>
    <label for="mail">Tamano:</label>
    <select id="tamano">
          <option value="pequeno">Pequeno</option>
          <option value="mediano">Mediano</option>
          <option value="mediano">Grande</option>
</select>
  </li>
  <li>
    <label for="msg">Diesel:</label>

<select id="diesel">
          <option value="si">Si</option>
          <option value="no">No</option>
</select>



  </li>
 </ul>
 <button id="buscar_autos">Buscar Autos Disponibles</button>
 <div id="oculta"></div>

<hr />
<a href="/logout">Cerrar sesión</a>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% block javascript %}
  <script>
    $("#buscar_autos").click(function () {
    
      var diesel = $("#diesel").val();
      var cant_puertas = $("#cantidad_puertas").val();
      var tamano = $("#tamano").val();

      $.ajax({
        url: '/ajax/buscar_autos/',
        data: {
          'diesel': diesel,
          'cant_puertas':cant_puertas,
          'tamano':tamano
        },
        dataType: 'json',
        success: function (data) {
        	$("#oculta").empty();
        	var result= data['autos'].split("**");
        	console.log(result);
        	result.forEach(function(auto) {
        		var info= auto.split("##");
        		console.log(info);
        		var modelo=info[1];
        		var puertas=info[2];
        		var diesel=info[3];
        		var tamano = info[4];
        		var id =info[5];

        		if(modelo!=null){
        		$("#oculta").append("<input disabled value='Modelo: "+modelo+
        			"'/><br>"+
        			"<input disabled value='Cantidad de puertas: "+puertas+
        			"'/><br>"+
        			"<input disabled value='Diesel: "+diesel+
        			"'/><br>"+
        			"<input disabled value='Tamano: "+tamano+
        			"'/><br>"+
        			"<input disabled value='Modelo: "+modelo+
        			"'/><br>"+
        			"<button id='"+id+"' href class='reserva' >Reservar Auto</button><br>");
        		}
			});
          
        }
      });

    });
  </script>
{% endblock %}